.App {
  text-align: center;
  background-image: url("./wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 10px;
}
.App-sun {
  height: 80vmin;
  pointer-events: none;
  animation: spin infinite 20s linear;
}
@keyframes spin {
  from {
    opacity: 0;
    transform: scale(0.9);
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-header {
  /* background-color: #262736; */
  width: inherit;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: white; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: enter ease-in-out 2s forwards;
}

.App-link {
  color: #c4c25f;
}
